html,
body {
  margin: 0;
  padding: 0;
}


.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: calc(100% / 2) calc(100% / 2);
}

.rectangular {
  height: 50vw;
  width: 50vw;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.circle {
  border-radius: 50%;

  height: 40vw;
  width: 40vw;
}

@media (min-width: 500px) {
  #root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .body {
    grid-column: 2/3;
  }
  .rectangular {
    height: 50vh;
    width: 50vh;
  }
  .circle {
    height: 40vh;
    width: 40vh;
  }
}
