.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: calc(100% / 2) calc(100% / 2);
}

.rectangular {
  height: 50vw;
  width: 50vw;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.circle {
  border-radius: 50%;

  height: 40vw;
  width: 40vw;
}
